{% include "header.html" %}

  <h2>
    <img class="line2" src="/static/line.png"/>
    <img class="line1" src="/static/line.png"/>
    <img class="searchbar" src="/static/generalsearchbar.png"/>
    <img class="servicechat" src="/static/servicechat.png"/>
    <img class="logo" src="/static/ayos-logo.png"/>
    <div class="welcome">
      <div class="welcome1">
        Welcome to Ayos chat!
      </div>
      <div class="welcome2">
        Start responding to your service providers now!
      </div>
    </div>
  </h2>
</h3>

{% include "footer.html" %}
