{% include "header.html" %}

<br/>
<br/>
  <h2>
    What are your details?
  <h2>
  <div class = "name">
    Name
    <br/>
    <img class = "box" src="/static/detailbox.png"/>
    <br/>
    Mobile No.
    <br/>
    <img class = "box" src="/static/detailbox.png"/>
  </div>
  <div class="address">
      Address
      <br/>
      <img class = "box" src="/static/detailbox.png"/>
      <br/>
      <img class = "box" src="/static/detailbox.png"/>
      <br/>
      <img class = "box" src="/static/detailbox.png"/>
    </div>
  <h3>
    <a href="/confirmed">
    <img class="nextbutton" src="/static/nextbutton.png"/>
    </a>
  </h3>

{% include "footer.html" %}
