{% include "header.html" %}

  <h2>
    <div class="sidenav">
      Estimated Arrival Time
      <br/>
      <div class="time">
        2:00 PM - 2:30 PM
      </div>
      <br/>
      Contact your service provider
      <a href="/chat">
      <img class="msgbutton" src="/static/messagebutton.png">
      </a>
      <br/>
      Service details
      <br/>
      <img class="service" src="/static/service.png">
    </div>
    <img class="map" src="/static/map.png">
  </h2>

</h3>

{% include "footer.html" %}
