{% include "header.html" %}

  <br>
    <img class = "profbuttons" src="/static/Profile.png">
    <a href = "/myprofile">
  <img class = "myaccount" src="/static/myaccount.png">
  </a>
  <a href = "/myservices">
  <img class = "myservices" src="/static/myservices.png">
  </a>
  <a href = "/notifications">
  <img class = "notifications" src="/static/notifications.png">
</a>
<a href = "/rewards">
  <img class = "rewards" src="/static/rewards.png">
</a>
  <img class = "currentorder" src = "/static/currentorder.png">
  <a href ="/chat">
  <img class = "chatbutton" src = "/static/chatbutton.png">
  </a>
  <a href ="/Map">
  <img class = "trackservice" src = "/static/trackservice.png">
  </a>
  <br>

{% include "footer.html" %}
