{% include "header.html" %}

  <br>
    <img class = "profbuttons" src="/static/Profile.png">
    <a href = "myprofile.html">
  <img class = "myaccount" src="/static/myaccount.png">
  </a>
  <a href = "myservices.html">
  <img class = "myservices" src="/static/myservices.png">
  </a>
  <a href = "notifications.html">
  <img class = "notifications" src="/static/notifications.png">
</a>
<a href = "rewards.html">
  <img class = "rewards" src="/static/rewards.png">
</a>
  <img class = "sadface" src = "/static/sadface.png"
  <br>

{% include "footer.html" %}
