{% include "header.html" %}

  <h3><p style= "color: #E56240">Results (8) for: Plumbing, Quezon City</p></h3>
  <h1>
    <img class="advancedsearch" src="/static/Advanced Search.png">
  </h1>
  <h2>
        <a href="datechoosing.html">
    <img class="serviceproviders" src ="/static/Person 1.png">
        </a>
    <img class="serviceproviders" src ="/static/Person 2.png">
    <img class="serviceproviders" src ="/static/Person 3.png">
    <img class="serviceproviders" src ="/static/Person 4.png">
    <img class="serviceproviders" src ="/static/Person 5.png">
    <img class="serviceproviders" src ="/static/Person 6.png">
    <img class="serviceproviders" src ="/static/Person 7.png">
    <img class="serviceproviders" src ="/static/Person 8.png">
  </h2>

{% include "footer.html" %}
